# Core
requests
urllib3

# Wise Old Man API helpers
aiohttp
aiosignal
frozenlist
multidict
charset-normalizer
attrs
yarl
propcache
aiohappyeyeballs

# Database
asyncpg
psycopg2-binary
supabase

# Extras / useful tooling
python-dotenv

